html {
    /* font-family: 'Noto Sans Mono', monospace; */
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: #282A3A;
}

.top-banner {
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 20px;
    width: 70%;
}