html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #4285F4;
}

#heading {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 380px;
    height: 250px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 10px;
    box-sizing: border-box;
}